ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: white;
}

.experience {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.experience h1 {
  text-align: center;
  color: #333;
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 28px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.experience-item {
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.experience-item:hover {
  transform: translateY(-5px);
}

.experience-item h3 {
  margin: 0;
  color: #007bff;
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
}

.experience-item h4 {
  margin: 15px;
  color: #555;
  font-size: 12px;
  text-align: center;
}

.experience-item .duration {
  color: #888;
  font-style: italic;
  margin: 15px;
  font-family: "Courier New", monospace;
  font-size: 15px;
  text-align: center;
}

.experience-item .details {
  font-family: "Courier New", monospace;
  font-size: 16px;
  line-height: 1.5;
  list-style: georgian;
  text-align: justify;
  border: dashed 2px;
  border-width: 3px;
  padding: 10px;
}

.footer {
  background-color: black;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.social-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.social-icon img {
  width: 30px;
  height: 30px;
}

.social-icon:hover {
  transform: scale(1.2);
}

.copyright {
  font-size: 14px;
  margin: 0;
}
